*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:black;
}
.navigation{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

/* logo css  */

.logo{
    width: 35%;
    height: 80px;
   font-size: 50px;
    font-family:'Times New Roman';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

/* navigation css  */
.nav{
    width: 35%;
    height: 80px;
}

.nav-links{
    display: flex;
}

.nav-link{
    list-style-type:none;
    height: 80px;
    width: 25%;
    text-align: center;
    line-height: 80px;
    font-family: 'segoe UI';
    cursor: pointer;
    color: white;
}

.nav-link:hover{
    background-color: white;
    color: black;
}
/* banner css  */
.banner{
    height: 500px;
    width: 100%;
    background-color:#444444;
    background-image: url('./media/marvelbanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}
/* films css  */

.films{
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films-container{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
     /* background-color: red;  */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    font-size: 30px;
    font-family: 'segoe UI';
    color: white;
}

.film-card{
    width: 22%;
    height: 450px;
    /* background-color: yellow; */
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.film-detail{
    height: 225px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    transition: .4s;
    cursor: pointer;
}

.film-detail:hover{
    height: 450px;
}

.film-title{
    color: white;
    font-family: 'segoe UI';
    font-size: 20px;
}
.text{
    color: white;
    font-family: 'Segoe UI';
    font-size: 15px;
    }

.padd{
    padding: 20px;
}

.card-1{
    background-image: url('./media/ironman.jpeg');
}

.card-2{
    background-image: url('./media/endgame.jpg');
}

.card-3{
    background-image: url('./media/whatif.jpg');
}

/* video css */
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-container{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}
/* audio css */
.audio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.audio-container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    border-radius: 20px;
}
/* table css */
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

table{
    color: white;
    width: 60%;
    table-layout: auto;
}
td{
    text-align: center;
}
/* form css */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
input[type=text]{
    height: 50px;
    margin: 10px;
}

input[type=password]{
    height: 50px;
   
}
input[type=email]{
    height: 50px;
    
}
p{
    margin-top: 20px;
    margin-bottom: 10px;
    color:white; 
}
button[type=submit]{
    height: 50px;
    width: 15%;
    background-color:rgb(212, 54, 54);
    border-radius: 20px;
    cursor: pointer;
}
button[type=reset]{
    height: 50px;
    width: 15%; 
    background-color:grey;
    border-radius: 20px;
    cursor: pointer;
}  
button[type=submit]:hover{
    
    background-color:rgb(46, 189, 46);
}
button[type=reset]:hover{
    
    background-color:whitesmoke;
}
/* footer css */
p{
    font-size: 20px;
    color: white;
    text-align: center;
}
